body{
	padding: 0;
	margin: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;

	background-color: #fff;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;

	width: 940px;
}

.white{
	background-color: #fff;
}

a{
	text-decoration: none;
	color:black;
}

.header-top {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	color: white;
	background-color: #293449;
}

.header-bg{
	background-color: #293449;
}

.header-top a{
	color: inherit;
}
  
.logo {
	width: 220px;

	font-size: 24px;
	line-height: 42px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 5px 0px 0px #b52933;

	background-color: #ee3643;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
	box-shadow: 0px 5px 0px 0px #9a212a;
}

.logo:active {
	background-color: #ba2732;
	box-shadow: 0px 5px 0px 0px #8e1e26;
}

.main-search{
	position: relative;
}

.main-search img {
	opacity: 30%;
}

.main-search:hover img {
	opacity: 100%;
}

.main-search input {
	width: 270px;
	box-sizing: border-box;
	padding-left: 49px;
	padding-top: 12px;
	padding-bottom: 12px;

	font-family: inherit;
	font-size: inherit;
	color: white;

	outline: none;
	border: none;
	background: 0px;
}

.main-search::before{
	content: "";
	position: absolute;
	left: 17px;
	top: 12px;
	width: 17px;
	height: 17px;

	background-image: url("../img/icon-search.svg");
	opacity: 0.3;
}

.main-search:hover::before,
.main-search:focus::before{
	opacity: 1;
}

.main-search input::-webkit-input-placeholder {
	color: white;
}

#header-search:focus{
	font-size: 17px;
	color: black;

	background-color: white;
}

.main-search:hover{
	background-color: #212a3a;
}

.header-button{
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 150px;
	
	line-height: 18px;
}

.header-button:focus,
.header-button:hover{
	background-color: #212a3a;
}

.header-button:active {
	background-color: rgb(22, 29, 41);
}

.main-header{
	/* min-height: 320px; */
	padding-bottom: 65px;

	background-color: #f3f7f8;
}

.cart::before{
	content: "";
	position: absolute;
	left: 18px;
	top: 12px;
	width: 15px;
	height: 15px;

	background-image: url("../img/icon-search.svg");
	opacity: 0.3;
}

.bookmark::before{
	content: "";
	position: absolute;
	left: 17px;
	top: 12px;
	width: 14px;
	height: 16px;

	background-image: url("../img/icon-bookmark.svg");
	opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before{
	opacity: 1;
}

.bookmark:active::before{
	opacity: 0.5;
}

.cart:hover::before,
.cart:focus::before{
	opacity: 1;
}

.cart:active::before{
	opacity: 0.5;
}

.bookmark-wrap{
	margin-left: 44px;
}

.cart-wrap{
	margin-left: 50px;
}

.main-header-buy{
	width: 150px;
	padding-top: 12px;
	padding-bottom: 12px;

	text-align: center;
	
	line-height: 18px;

	background-color: rgb(99,166, 62);
}

.main-header-buy:hover,
.main-header-buy:focus {
	background-color: rgb(95, 187, 45);
}

.main-header-buy:active{
	background-color: rgb(81, 133, 52);
}

.main-header h1{
	font-size: 16px;
	color: rgb(238, 54, 67);
	font-style: italic;
	text-align: left;
}

.header-down{
	display: flex;
	/* min-height: 153px; */
	justify-content: flex-start;
	/* align-items: center; */
	padding: 0 10px;
	padding-top: 46px;
	padding-bottom: 40px;
}

.heading{
	display: block;
	justify-self: flex-start;
	width: 200px;
	padding-left: 82px;
	padding-right: 51px;
	margin-right: 10px;

	/* outline: 1px solid; */
}

.main-header-contacts{
	justify-self: flex-start;
	padding: 0px;
	margin: 0px;
	margin-right: 41px;
	margin-left: 10px;
	width: 270px;

	text-align: center;
	list-style-type: none;
}
  

.main-header-contacts .phonenumber{
	position: relative;
	padding-top: 11px;
	padding-bottom: 8px;

	font-size: 21px;
	line-height: 21px;
	text-align: left;

	border: 3px solid white;
}

.phonenumber::before{
	content: "";
	position: absolute;
	left: 13px;
	top: 10px;
	width: 19px;
	height: 19px;

	background-image: url("../img/icon-phone.svg");
}

.phonenumber a{
	margin-left: 71px;

	color: rgb(238, 54, 67);
}

.main-header-contacts .address{
	margin: 0;

	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.authorization{
	display: flex;
	margin-left: 10px;

	font-size: 21px;
	line-height: 21px;
	text-align: right;
}

.authorization a{
	padding-top: 12px;
	padding-bottom: 12px;
	align-self: baseline;

	text-align: left;

	background-color: white;
}

.authorization a:nth-child(1){
	position: relative;

	width: 121px;
	margin-right: 10px;
}

.authorization a:nth-child(1)::before{
	content: "";
	position: absolute;
	left: 14px;
	width: 20px;
	height: 17px;

	background-image: url("../img/icon-login.svg");
	opacity: 0.3;
}

.authorization a:nth-child(1):hover::before,
.authorization a:nth-child(1):focus::before{
	opacity: 1;
}

.authorization a:nth-child(1):active::before{
	opacity: 0.3;
}

.authorization span{
	margin-left: 48px;
}

.authorization a:nth-child(2){
	width: 150px;

	text-align: center;
}
.authorization a:hover,
.authorization a:focus{
	color: #ee3643;
}

.authorization a:active{
	color: rgba(0, 0, 0, 30%);
}

.authorizated-user .user-name{
	padding-left: 47px;
	padding-right: 39px;
}

.authorizated-user .user{
	min-width: 300px;
	min-height: 45px;
	box-sizing: border-box;
	padding: 12px 0;
	display: flex;

	text-align: right;
	font-size: 21px;
	line-height: 21px;

	background-color: #ffffff;
}

.user .exit-button{
	color: rgb(197, 197, 197);
}

.user .exit-button:hover,
.user .exit-button:focus{
	color: rgb(50, 66, 92);
}

.user a:active,
.user .exit-button:active {
	color: rgba(0, 0, 0, 30%);
}

.authorizated-user .interaction{
	padding-top: 10px;
	padding-left: 17px;

	font-size: 16px;
}

.interaction a:first-child{
	padding-right: 32px;
}

.interaction a{
	color: #32425c;
	text-decoration: underline;
}

.interaction a:hover,
.interaction a:focus{
	color: #ee3643;
}

.interaction a:active{
	color: rgba(50, 66, 92, 30%)
}

.main-navigation-site {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 0px;
	padding-left: 0px;

	list-style-type: none;
	background-color: #32425c;
	box-shadow: 0px 5px 0px 0px #293449;
}

.main-navigation-site li{
	flex-grow: 1;
	display: flex;
	justify-content: center;

	text-align: center;

	background-color: #32425c;
}
.main-navigation-site a {
	padding: 19px 0;
	flex-grow: 1;

	font-size: 17px;
	line-height: 17px;
	color: #fff;
}

.main-navigation-site li:hover,
.main-navigation-site li:focus{
	background-color: #293449;
}

.main-navigation-site li:active{
	background-color: #1d2739;
	box-shadow: 0px 5px 0px 0px #1d2739;
}

.main-navigation-site a:active{
	color: rgba(256, 256, 256, 0.5);
}

.main-suggestions-list{
	display: flex;
	margin-top: 59px;
	margin-left: -20px;
	margin-bottom: 53px;
	padding-left: 0px;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;

	list-style-type: none;
}

.main-suggestions-list li{
	width: 300px;
	position: relative;
	min-height: 123px;
	margin-left: 20px;

	color:#fff;
	font-size: 24px;
	
}

.main-suggestions-list .yellow::after{
	content: "";
	position: absolute;
	width: 44px;
	height: 65px;
	top: 31px;
	right: 43px;

	background-image: url("../img/icon-1.svg");
}

.main-suggestions-list .blue::after{
	content: "";
	position: absolute;
	width: 75px;
	height: 61px;
	top: 33px;
	right: 28px;

	background-image: url("../img/icon-2.svg");
}

.main-suggestions-list .pink::after{
	content: "";
	position: absolute;
	width: 78px;
	height: 62px;
	top: 31px;
	right: 31px;

	background-image: url("../img/icon-3.svg");
}

.combined-blocks .green::before{
	content: "";
	position: absolute;
	width: 59px;
	height: 72px;
	top: 26px;
	right: 45px;

	background-image: url("../img/icon-4.svg");
}

.combined-blocks .orange::before{
	content: "";
	position: absolute;
	width: 78px;
	height: 62px;
	top: 32px;
	right: 31px;

	background-image: url("../img/icon-5.svg");
}

.combined-blocks {
	display: flex;
	flex-direction: column;
	padding: 0;


	list-style-type: none;
}

.combined-blocks li{
	margin-left: 0px;
	margin-top: 20px;
}

.flag-new{
	font-size: 16px;
	color: #fff;
	text-align: center;

	background-color:rgb(238, 54, 67);
}

.main-suggestions-list h3{
	margin-left: 23px;

	line-height: 13px;
}

.combined-blocks h3:nth-child(1){
	margin-top: 25px;
}

.main-suggestions-button{
	margin-left: 25px;
	padding: 8.5px;
	width: 135px;

	color: #fff;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;

	background-color: rgba(0, 0, 0, 10%);
	border-radius: 5px;
}

.main-suggestions-button:hover,
.main-suggestions-button:focus{
	background-color: rgba(0, 0, 0, 20%);
}

.main-suggestions-button:active{
	background-color: rgba(0, 0, 0, 30%);
}

.main-suggestions-list .yellow{
    background-color: rgb(255, 191, 71);
}

.main-suggestions-list .blue{
    background-color: rgb(59, 188, 227);
}

.main-suggestions-list .pink{
    background-color: rgb(220, 145, 216);
}

.main-suggestions-list .green{
    background-color: rgb(142, 215, 143);
}

.main-suggestions-list .orange{
    background-color: rgb(255, 192, 71);
}

.main-suggestions-slider{
	flex-basis: 620px;
	flex-grow: 0;
	margin-top: 20px;
	position: relative;
	z-index: 9;
}

.main-suggestions-slider h3{
	margin-top: 0px;
}

.main-suggestions-slider ul{
	padding-left: 0px;
	min-height: 266px;

	color: #fff;

	list-style-type: none;
}

.main-suggestions-slider li{
	margin-left: 0;
	width: 620px;
	min-height: 266px;
}

.main-suggestions-slider li:nth-child(1){
	background-color: #000;
	background-image: url(../img/slider-1.jpg);
}

.main-suggestions-slider li:nth-child(2){
	background-color: #000;
	background-image: url(../img/slider-2.jpg);
}

.slider-small-button {
	width: 22px;
	height: 40px;
	padding: 0;

	background-color: rgba(0, 0, 0, 0%);
	border: none;
}

.previous{
	position: absolute;
	z-index: 10;
	bottom: 112px;
	left: 25px;
}

.next{
	position: absolute;
	z-index: 10;
	bottom: 112px;
	right: 25px;
}

.previous::before{
	position: absolute;
	z-index: 11;
	content: "";
	width: 22px;
	height: 40px;
	
	background-image: url(../img/icon-left.svg);
}

.next::before{
	position: absolute;
	z-index: 11;
	content: "";
	width: 22px;
	height: 40px;
	
	background-image: url(../img/icon-right.svg);
}

.red-button{
	display: block;
	padding: 7px 0;

	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;

	background-color: rgb(238, 54, 67);
	border-radius: 3px;
}

.red-button:hover,
.red-button:focus{
	background-color: rgb(202, 44, 55);
}

.red-button:active{
	background-color: rgb(186, 39, 50);
}

.slider-button{
	display: block;
	width: 195px;
	padding: 7px 0;
	margin-left: 25px;
	margin-top: 101px;

	text-align: center;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;

	background-color: rgb(238, 54, 67);
	border-radius: 3px;
}

.slider-button:hover,
.slider-button:focus{
	background-color: rgb(202, 44, 55);
}

.slider-button:active{
	background-color: rgb(186, 39, 50);
}

.slider-item div{
	min-height: 105px;
}

.slider-item h3{
	padding-top: 26px;
	margin-bottom: 0;

	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.slider-item p{
	margin-top: 8px;
	margin-left: 23px;
		
	font-size: 18px;
	line-height: 24px;
}

.section-heading{
	padding: 0 30px;
	min-width: 89px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #f9f5f0;
}

.section-heading a{
	width: 253px;
}

.main-popular h2{
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.main-popular-list{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: -20px;
	display: flex;
	/* justify-content: space-between;*/
	flex-wrap: wrap;
	padding: 0;

	list-style-type: none;
}

.main-popular-list-item{
	position: relative;
	margin-top: 20px;
	margin-right: 20px;
	width: 218px;
	min-height: 318px;
	z-index: 21;

	border: 1px solid #e5e5e5;
}

.main-popular-list-item:hover .action-choice {
	display: flex;
}

.main-popular-list-item h3{
	position: relative;
	padding: 0 14px;
	z-index: 21;

	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.main-popular-list-item span{
	font-size: 17px;
}

.item-price-and-discount{
	position: relative;
	z-index: 21;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	min-height: 84px;
}

.item-price-and-discount a{
	margin-bottom: 20px;
	position: relative;
	align-self: start;
	width: 122px;
	margin-left: 42px;

	font-size: 17px;
	line-height: 18px;
}

.item-price-and-discount a::after{
	content: "";
	position: absolute;
	right: -29.8px;
	bottom: 0px;
	
	border: 15.7px solid transparent;
	border-left: 15.7px solid #ee3643;
}

.item-price-and-discount a:hover::after,
.item-price-and-discount a:focus::after{
	border-left: 15.7px solid #ca2c37;
}

.item-price-and-discount a:active::after{
	border-left: 15.7px solid #ba2732;
}

.main-popular-list-item:hover{
	box-shadow: 0px 5px 15px 10px rgba(34, 60, 80, 0.2);
}

.discount{
	margin-bottom: 13px;

	text-decoration: line-through;
	color: #a9a9a9;
}

.action-choice{
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: top;	
	align-items: center;
	width: inherit;
	min-height: 159px;
	z-index: 22;

	background-color: #fff;
}

.action-choice:hover {
	display: flex;
}

.action-choice a{
	width: 135px;
	margin-top: 45px;
	padding-top: 8.5px;
	padding-bottom: 8.5px;

	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
}

.action-choice .buy{
	box-shadow: 0px 2px 0px 0px #367315;
	background-color:rgb(99, 166, 62);
	border-radius: 3px;
}

.action-choice .buy:hover,
.action-choice .buy:focus{
	background-color: rgb(95, 187, 45);
}

.action-choice .buy:active{
	background-color: rgb(81, 133, 52);
}

.action-choice .bookmark{
	color: #32425c;
	text-transform: upp		ercase;
	box-sizing: border-box;
	margin-top: 7px;

	border: 3px solid;
	border-color:rgb(99, 166, 62);
	border-radius: 3px;
}

.action-choice .bookmark:hover,
.action-choice .bookmark:focus{
	border-color: rgb(50, 66, 92);
}

.main-brands{
	margin-top: 20px;
}

.main-brands h2{
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.main-fabricators-list{
	margin-top: 20px;
	margin-bottom: 65px;
	margin-right: -20px;
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	/* justify-content: space-between; */
	padding: 0;
	
	list-style-type: none;
}

.main-fabricators-list li{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	width: 218px;
	height: 143px;
	margin-bottom: 20px;

	border: 1px solid #e5e5e5;
}

.main-fabricators-list a{
	display: block;
}

.main-fabricators-list img{
	vertical-align: middle;
}

.main-fabricators-list li:hover,
.main-fabricators-list li:focus{
	-webkit-box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.41);
	-moz-box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.41);
	box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.41);

	border: 1px solid transparent;
}

.main-fabricators-list li:active{
	opacity: 30%;
}

.main-services{
	position: relative;

	background-color: #f4f8f9;
}

.main-services-wrap{
	width: 100%;

	background-color: #f4f8f9;
}

.main-services h2{
	padding-top: 68px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-services-description{
	width: 400px;

	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0;
}

.main-services-list-suggestions{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 272px;
	position: relative;

	font-size: 21px;
	line-height: 30px;

	list-style-type: none;
}


.main-services-list-suggestions::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 272px;
	right: 0px;

	background-image: url("../img/service-shadow.png");
}

.main-services-block{
	display: flex;
}

.main-services-list-item button:hover{
	color: #fff;
	
	background-color: #293449;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	border-color:#405069 #FFF #293449;
}

.main-services-list-item button{
	min-height: 61px;
	width: 241px;

	color: #fff;
	font-size: inherit;
	font-family: inherit;

	background-color: #32425c;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	border-color:#405069 #FFF #293449;
}

.main-services-list-item-active button{
	color:#32425c;

	border: solid;
	border-width: 1px;
	border-color: #Fff;
	background-color: #fff;
}

.main-services-list-description{
	margin-left: 80px;
	padding: 0;

	list-style-type: none;	
}

.main-services-list-description li{
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	width: 380px;
	min-height: 272px;
}

.main-services-list-description li:nth-child(1)::after{
	position: absolute;
	content: "";
	width: 486px;
	height: 261px;
	right: 10px;
	bottom: 0px;

	background-image: url("../img/delivery.png");
}

.main-services-list-description li:nth-child(2)::after{
	position: absolute;
	content: "";
	width: 389px;
	height: 283px;
	right: 10px;
	bottom: 0px;

	background-image: url("../img/guarantee.png");
}

.main-services-list-description li:nth-child(3)::after{
	position: absolute;
	content: "";
	width: 465px;
	height: 285px;
	right: 0px;
	bottom: 0px;

	background-image: url("../img/credit.png");
}

.main-services-list-description li:nth-child(1),
.main-services-list-description li:nth-child(2){
	display: none;
}

.main-services-list-description h3{
	margin: 0;

	font-size: 36px;
	line-height: 36px;
	color:#32425c;
	text-transform: uppercase;
}

.main-services-list-description p{
	font-size: 13px;
	line-height: 24px;
}

.main-description-and-contacts-block{
	margin-top: 80px;
	margin-bottom: 85px;

	display: flex;
	justify-content: space-between;
}

.main-description{
	width: 540px;
	margin-right: 80px;
}

.main-description h2,
.main-contacts h2{
	margin: 0;

	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.main-description p,
.main-contacts p{
	margin: 0;
	margin-top: 30px;

	font-size: 13px;
	line-height: 24px;
}

.main-description .part-2{
	width: 390px;
}

.main-description-list{
	margin: 0;
	margin-top: 16px;
	padding-left: 36px;

	line-height: 20px;

	list-style-type: none;
}

.main-description-list li{
	padding-top: 14px;
	position: relative;

	font-size: 18px;
}

.main-description-list li::before{
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	left: -36px;
	top: 24px;

	background-image: url("../img/description-list-style.png");
	background-repeat: no-repeat;
}

.main-description-button{
	margin-top: 35px;

	width: 220px;
}

.main-contacts h2{
	font-size: 30px;
	text-transform: uppercase;
}

.main-contacts p{
	width: 180px;
}

.main-contacts img{
	margin-top: 35px;
}

.main-contacts-button{
	margin-top: 33px;
}

/* footer *{
	margin: 0;
} */


.footer-navigation{
	background-color: #32425c;
}

.footer-navigation ul{
	margin: 0;
	list-style-type: none;
	padding-left:0;
}

.footer-navigation-upper-list{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	width: 550px;
}

.footer-navigation-upper-list a{
	color: #fff;
	font-size: 18px;
	line-height: 24px;
}

.footer-navigation-upper-part{
	display: flex;
	justify-content: space-between;
}

.footer-logo{
	line-height: 63px;
	font-size: 30px;
}

.footer-navigation-down-part{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding-bottom: 52px;
}

.footer-navigation-down-part p{
	margin: 0;

	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.footer-navigation-down-part a{
	color: #fff;
}

.footer-navigation-upper-list a:hover,
.footer-navigation-upper-list a:focus,
.footer-navigation-down-list a:hover,
.footer-navigation-down-list a:focus{
	text-decoration: underline;
}

.footer-navigation-upper-list a:active,
.footer-navigation-down-list a:active{
	opacity: 50%;
	text-decoration: none;
}

.footer-navigation-down-list{
	display: flex;
	justify-content: space-between;
	width: 525px;
}

.footer-navigation-down-list a{
	color: #ffda96;
	font-size: 18px;
	line-height: 24px;
}

.footer-bottom{
	display: flex;
	justify-content: space-between;
	min-height: 107px;
}

.footer-bottom-wrap{
	background-color: #293449; 
}

.footer-services{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 133px;

	list-style-type: none;
}

.footer-bottom p {
	margin-top: 35.5px;
	margin-bottom: 35.5px;
	
	color: #fff;
	font-size: 16px;
	line-height: 18px;
}

.footer-bottom a{
	color: #ffda96;
	font-size: 16px;
	line-height: 18px;
}

.footer-bottom ul{
	margin-top: 35.5px;
	margin-bottom: 35.5px;
	display: flex;

	color: #fff;
	font-size: 16px;
	line-height: 18px;

	list-style-type: none;
}

.footer-feedback li:first-child{
	padding-right: 25px;
}

.footer-feedback li:last-child{
	padding-left: 25px;
}

.footer-feedback a:hover,
.footer-feedback a:focus{
	text-decoration: underline;
}

.footer-feedback a:active{
	text-decoration: none;
	color: #e13643;
}

.footer-services li:hover,
.footer-services li:focus,
.footer-services li:active{
	background-color: #ee3643;
}

.footer-services li{
	display: flex;
	justify-content: center;
	width: 41px;
	height: 41px;

	text-align: center;

	border: solid;
	border-color: rgba(0, 0, 0, 0%);
	border-radius: 50%;
	background-color: #212a3a;
}

.write-us-form{
	width: 620px;
	min-height: 430px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;

	border-top: solid;
	border-width: 7px;
	border-color: #ff5357;
	-webkit-box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
}

.write-us-form form{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.close-button{
	padding: 9px 9px 0 0;
	align-self: flex-end;

	background-color: inherit;
	color: #ee3643;
	border: none;
}

.close-button:hover,
.close-button:focus{
	color: rgb(202, 44, 55);
}

.close-button:active{
	color: rgb(186, 39, 50);
}

.write-us-list{
	margin: 0;
	margin-top: 18px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	font-size: 18px;
	line-height: 18px;

	list-style-type: none;
}

.write-us-list input,
.write-us-list textarea{
	width: 216px;
	min-height: 34px;
	margin-top: 13px;
	box-sizing: border-box;
	padding-left: 13px;

	font-family: inherit;
	font-size: 13px;

	border: solid;
	border-radius: 2px;
	border-color: #dee3e4;
}

.write-us-list input:hover,
.write-us-list textarea:hover{
	border-color: #b5b5b5;
}

.write-us-list input:active,
.write-us-list input:focus,
.write-us-list textarea:active,
.write-us-list textarea:focus{
	border-color: #ee3643;
	outline: none;
}

.write-us-list-item:first-child{
	margin-right: 20px;
}

.write-us-list-item:last-child{
	margin-top: 22px;
}

.write-us-list-item:last-child textarea{
	padding-top: 12px;
	width: 456px;
	min-height: 110px;
	resize: none;
}

.write-us-button-wrap{
	min-height: 112px;
	width: 100%;

	background-color: #f4f4f4;
}

.write-us-button{
	width: 460px;
	margin: 0 auto;
	margin-top: 37px;

	border-style: none;
}

.map-popup{
	width: 940px;
	min-height: 446px;
	padding: 0;
	margin: 100px auto;

	-webkit-box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.2);
}

.map-popup a{
	margin: 0;
	padding: 0;
	display: flex;
}

.site-navigation-list{
	display: flex;
	min-height: 59px;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	align-content: center;

	text-transform: uppercase;
	font-size: 13px;

	list-style-type: none;
}

.site-navigation-list li{
	padding-left: 20px;
	padding-right: 20px;
}

.site-navigation-list li:first-child{
	padding-left: 0;
}

.site-navigation-list li:last-child{
	padding-right: 0;
}

.main-catalog-wrap{
	margin-top: 20px;

	display: flex;
	justify-content: space-between;
}

.main-catalog h2{
	margin: 0;
	padding: 29.5px 0;
	padding-left: 30px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;

	background-color: #f2f6f8;
}

.catalog-filter {
	display: flex;
	flex-direction: column;
	width: 220px;

	text-transform: uppercase;
}

.catalog-filter p{
	padding: 10px 0;
	padding-left: 16px;
	margin: 0;

	font-size: 13px;
	line-height: 18px;

	background-color: #f7f3ec;
	
	border-radius: 2px;
}

.filter-price-block-input{
	display: flex;
	justify-content: center;
	min-height: 80px;

	background-color: #f7f3ec;
	
	border-radius: 2px;
}

.filter-price-block-input input{
	width: 171px;
}

.filter-price-block-item{
	width: 95px;
	background-color: #f7f3ec;

	text-align: center;

	border-radius: 2px;
}

.filter-price-block{
	margin-top: 9px;
	margin-bottom: 44px;
	display: flex;
	justify-content: space-between;
}

.filter-fabricators ul{
	padding: 0;
	margin: 0;
	margin-top: 14px;
	margin-bottom: 39px;

	line-height: 20px;
	font-size: 15px;

	list-style-type: none;
}

.filter-fabricators span{
	padding-left: 10px;
}

.filter-energy-source ul{
	padding: 0;
	margin: 0;
	margin-top: 14px;
	margin-bottom: 75px;

	line-height: 20px;
	font-size: 15px;

	list-style-type: none;
}

.filter-energy-source span{
	padding-left: 10px;
}


.main-catalog fieldset{
	padding: 0;
	line-height: 30px;

	border: none;
}

.catalog-filter button{
	width: 138px;
	min-height: 36px;
	margin: 0 auto;

	font-family: inherit;
	text-transform: uppercase;

	border: solid;
	border-width: 1px;
	border-color: #e5e5e5;
	background-color: rgba(0, 0, 0, 0%);
	border-radius: 3px;
}

.catalog-filter button:hover,
.catalog-filter button:focus{
	border-color: #bdc6ca;
}

.catalog-filter button:active{
	border-color: #ee3643;
}

.main-catalog-product{
	width: 700px;
	display: flex;
	flex-direction: column;
}

.main-catalog-sort{
	display: flex;
	width: 700px;
}

.main-catalog-sort ul{
	display: flex;
	margin: 0;
	padding: 10px 0;
}

.main-catalog-sort h2{
	margin: 0;
	padding: 10px 0;
	padding-left: 19px;
	padding-right: 140px;
	
	font-size: 13px;
	line-height: 18px;
	color: #000;
	
	background-color: #f7f3ec;
}

.main-catalog-sort{
	text-transform: uppercase;
	font-size: 13px;

	background-color: #f7f3ec;
}

.main-catalog-sort ul{
	list-style-type: none;
}

.main-catalog-sort-method{
	width: 400px;
}

.main-catalog-sort-method li{
	padding-right: 71px;
}

.main-catalog-sort-method li:last-child{
	padding: 0;
}

.main-catalog-sort-way{
	display: flex;
	justify-content: space-between;
	width: 80px;
}

.main-catalog-sort-item a{
	text-decoration: underline;

	opacity: 30%;
}

.main-catalog-sort-item a:hover,
.main-catalog-sort-item a:focus{
	color: #000;
	text-decoration: underline;
	text-decoration-color: #ee3643;

	opacity: 100%;
}

.active a{
	color: #ee3643;
	opacity: 100%;
	text-decoration: none;
}

.main-pagination-list{
	padding: 0;
	margin: 0;
	margin-top: 52px;
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;

	list-style-type: none;
}

.main-pagination-list li{
	padding: 10px 0;
	width: 38px;
	margin-right: 10px;
	

	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	text-align: center;

	border: solid;
	border-width: 1px;
	border-color: #e5e5e5;
	background-color: rgba(0, 0, 0, 0%);
	border-radius: 3px;
}

.main-pagination-list li:last-child{
	width: auto;
	padding: 10px 31px;
	margin: 0;
}

.main-pagination-list li:hover{
	border-color: #bdc6ca;
}

.main-pagination-list .pagination-item-current{
	background-color: #ee3643;
	border: none;
}

.pagination-item-current a{
	color: #fff;
}

.main-catalog-description-wrap{	
	background-color: #f2f6f8;
}

.main-catalog-description{
	padding-top: 62px;
	padding-bottom: 73px;
}

.main-catalog-description h2{
	margin: 0;
	padding-bottom: 38px;

	line-height: 30px;
	font-size: 30px;
	text-transform: uppercase;
}

.main-catalog-description p{
	margin: 0;

	font-size: 13px;
	line-height: 24px;
}

.main-add{
	width: 620px;
	min-height: 277px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;

	border-top: 7px solid #ee3643;
	-webkit-box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
}

.main-add p{
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	margin-top: 38px;
	margin-bottom: 74px;

	text-align: center;
}

.main-add-down{
	min-height: 112px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f1f1f1;
}

.main-add-down a{
	padding: 10px 0;
	margin-right: 10px;
	width: 220px;

	color: #fff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	background-color: #ee3643;
	border-radius: 3px;
}

.main-add-down button{
	width: 220px;
	margin-left: 10px;
	padding: 10px 0;

	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;

	border: none;
	border-radius: 3px;
	background-color: #fff;
}

.main-add-down button:hover,
.main-add-down button:focus{
	color: #fff;

	background-color: #cccccc;
}

.main-add-down button:active{
	background-color: #b2b2b2;
}

.main-add-down a:hover,
.main-add-down a:focus{
	background-color: #ca2c37;
}

.main-add-down a:active{
	background-color: #ba2732;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}