body{
	padding: 0;
	margin: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;

	background-color: #fff;
}

.container{
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;

	width: 940px;
}

.white{
	background-color: #fff;
}

a{
	text-decoration: none;
	color:black;
}

.header-top {
	display: flex;
	justify-content: center;

	color: white;
	background-color: #293449;
}

.header-bg{
	background-color: #293449;
}

.header-top a{
	color: inherit;
}
  
.logo {
	/* /* padding: 12px; */
	/* padding-left: 55px;
	padding-right: 55px; */
	padding: 0 auto;
	width: 220px;

	font-size: 24px;
	line-height: 47px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px -5px 0px 0px #b52933 inset;

	background-color: #ee3643;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
	box-shadow: 0px -5px 0px 0px #9a212a inset;
}

.logo:active {
	background-color: #ba2732;
	box-shadow: 0px -5px 0px 0px #8e1e26 inset;
}

.main-search{
	width: 270px;
	padding-left: 49px;
	padding-top: 14px;
}

.main-search img {
	opacity: 30%;
}

.main-search:hover img {
	opacity: 100%;
}

.main-search input {
	width: 270px;

	font-family: inherit;
	font-size: inherit;
	color: white;

	outline: none;
	border: none;
	background: 0px;
}

.main-search input::-webkit-input-placeholder {
	color: white;
}

#header-search:focus{
	font-size: 17px;
	color: black;

	background-color: white;
}

.main-search:hover{
	background-color: #212a3a;
}

.header-button{
	display: block;
	padding-top: 14px;
	width: 150px;
	
	text-align: center;
	line-height: 18px;
}

.header-button:focus,
.header-button:hover{
	background-color: #212a3a;
}

.header-button:active {
	background-color: rgb(22, 29, 41);
}

.main-header{
	min-height: 320px;

	background-color: #f3f7f8;
}

.main-header-buy{
	width: 150px;
	padding-top: 14px;

	text-align: center;

	background-color: rgb(99,166, 62);
}

.main-header-buy:hover,
.main-header-buy:focus {
	background-color: rgb(95, 187, 45);
}

.main-header-buy:active{
	background-color: rgb(81, 133, 52);
}

.main-header h1{
	font-size: 16px;
	color: rgb(238, 54, 67);
	font-style: italic;
	text-align: left;
}

.header-down{
	display: flex;
	/* min-height: 153px; */
	justify-content: flex-start;
	/* align-items: center; */
	padding: 0 10px;
	padding-top: 46px;
	padding-bottom: 40px;
}

.heading{
	display: block;
	justify-self: flex-start;
	width: 200px;
	padding-left: 82px;
	padding-right: 51px;
	margin-right: 10px;

	/* outline: 1px solid; */
}

.main-header-contacts{
	justify-self: flex-start;
	padding: 0px;
	margin: 0px;
	margin-right: 41px;
	margin-left: 10px;
	width: 270px;

	text-align: center;
	list-style-type: none;
	/* outline: 1px solid; */
}
  

.main-header-contacts .phonenumber{
	padding-top: 11px;
	padding-bottom: 8px;

	font-size: 21px;
	line-height: 21px;
	vertical-align: center;

	border: 3px solid white;
}

.phonenumber a{
	color: rgb(238, 54, 67);
}

.main-header-contacts .address{
	margin: 0;

	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.authorization{
	display: flex;
	margin-left: 10px;

	font-size: 21px;
	line-height: 21px;
	text-align: right;
}

.authorization a{
	/* display: block; */
	/* min-height: 45px; */
	padding-top: 13px;
	padding-bottom: 12px;
	align-self: baseline;

	text-align: center;

	/* outline: 1px solid; */
	background-color: white;
}

.authorization a:nth-child(1){
	width: 121px;
	margin-right: 10px;
}

.authorization a:nth-child(2){
	width: 150px;
}
.authorization a:hover,
.authorization a:focus{
	color: #ee3643;
}

.authorization a:active{
	color: rgba(0, 0, 0, 30%);
}

.authorizated-user .user{
	text-align: right;
	font-size: 21px;
	line-height: 21px;
}

.user .exit{
	color: rgb(197, 197, 197);
}

.user .exit:hover,
.user .exit:focus{
	color: rgb(50, 66, 92);
}

.user a:active,
.user .exit:active {
	color: rgba(0, 0, 0, 30%);
}

.authorizated-user .interaction{
	text-align: right;
	font-size: 16px;
	text-decoration: underline;
}

.interaction a{
	color: #32425c;
}

.interaction a:hover,
.interaction a:focus{
	color: #ee3643;
}

.interaction a:active{
	color: rgba(50, 66, 92, 30%)
}

.main-navigation-site {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 0px;
	padding-left: 0px;

	list-style-type: none;
	background-color: #32425c;
}

.main-navigation-site li{
	padding: 19px 0;

	text-align: center;

	background-color: #32425c;
}
.main-navigation-site a {
	padding-right: 33.5px;
	padding-left: 34px;
	/* display: block; */
	/* height: 100%; */

	font-size: 17px;
	line-height: 17px;
	color: #fff;
}

.main-navigation-site li:hover,
.main-navigation-site li:focus{
	background-color: #293449;
}

.main-navigation-site li:active{
	background-color: #1d2739;

}

.main-navigation-site a:active{
	color: rgba(255, 255, 255, 50%);

}

.main-suggestions-list{
	display: flex;
	margin-top: 59px;
	padding-left: 0px;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;

	list-style-type: none;
}

.main-suggestions-list li{
	width: 300px;
	min-height: 123px;
	margin-right: 10px;
	margin-left: 10px;

	color:#fff;
	font-size: 24px;
	
}

.main-suggestions-list li:nth-child(1),
.main-suggestions-list li:nth-child(5){
	margin-left: 0;
}

.main-suggestions-list li:nth-child(3),
.main-suggestions-list li:nth-child(5),
.main-suggestions-list li:nth-child(4){
	margin-right: 0px;
}

.main-suggestions-list li:nth-child(1){
	order: 1;
}
.main-suggestions-list li:nth-child(2){
	order: 2;
}
.main-suggestions-list li:nth-child(3){
	order: 3;
}
.main-suggestions-list li:nth-child(5){
	margin-top: 20px;
	order: 4;
}
.main-suggestions-list li:nth-child(5) h3{
	margin-top: 0;
}


.main-suggestions-list li:nth-child(4){
	min-height: 265px;
	margin-left: 20px;

	order: 5;
}

.combined-blocks {
	display: flex;
	flex-direction: column;
	padding: 0;


	list-style-type: none;
}

.combined-blocks li{
	margin-left: 0px;
	margin-top: 20px;
}

.flag-new{
	font-size: 16px;
	color: #fff;
	text-align: center;

	background-color:rgb(238, 54, 67);
}

.main-suggestions-list h3{
	margin-left: 23px;

	line-height: 13px;
}

.combined-blocks h3:nth-child(1){
	margin-top: 25px;
}

.main-suggestions-button{
	margin-left: 25px;
	padding: 8.5px;
	width: 135px;

	color: #fff;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;

	background-color: rgba(255, 255, 255, 10%);
	border-radius: 5px;
}

.main-suggestions-button:hover,
.main-suggestions-button:focus{
	background-color: rgba(255, 255, 255, 20%);
}

.main-suggestions-button:active{
	background-color: rgba(255, 255, 255, 30%);
}

.main-suggestions-list .yellow{
    background-color: rgb(255, 191, 71);
}

.main-suggestions-list .blue{
    background-color: rgb(59, 188, 227);
}

.main-suggestions-list .pink{
    background-color: rgb(220, 145, 216);
}

.main-suggestions-list .green{
    background-color: rgb(142, 215, 143);
}

.main-suggestions-list .orange{
    background-color: rgb(255, 192, 71);
}

.main-suggestions-slider{
	flex-basis: 620px;
	flex-grow: 0;
}

.main-suggestions-slider ul{
	padding-left: 0px;
	min-height: 266px;

	color: #fff;

	list-style-type: none;
}

.main-suggestions-slider li{
	margin-left: 0;
	width: 620px;
	min-height: 266px;
}

.main-suggestions-slider li:nth-child(1){
	background-color: #000;
	background-image: url(../img/slider-1.jpg);
}

.main-suggestions-slider li:nth-child(2){
	background-color: #000;
	background-image: url(../img/slider-2.jpg);
}

.red-button{
	display: block;
	padding: 7px 0;

	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;

	background-color: rgb(238, 54, 67);
	border-radius: 3px;
}

.red-button:hover,
.red-button:focus{
	background-color: rgb(202, 44, 55);
}

.red-button:active{
	background-color: rgb(186, 39, 50);
}

.slider-button{
	display: block;
	width: 195px;
	padding: 7px 0;
	margin-left: 25px;
	margin-top: 101px;

	text-align: center;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;

	background-color: rgb(238, 54, 67);
	border-radius: 3px;
}

.slider-button:hover,
.slider-button:focus{
	background-color: rgb(202, 44, 55);
}

.slider-button:active{
	background-color: rgb(186, 39, 50);
}

.slider-item div{
	min-height: 105px;
}

.slider-item h3{
	padding-top: 26px;
	margin-bottom: 0;

	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.slider-item p{
	margin-top: 8px;
	margin-left: 23px;
		
	font-size: 18px;
	line-height: 24px;
}

.slider-small-button{
	display: block;

	width: 195px;

	border: none;
}

.section-heading{
	padding: 0 30px;
	min-width: 89px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #f9f5f0;
}

.section-heading a{
	width: 253px;
}

.main-popular h2{
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.main-popular-list{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	padding: 0;

	list-style-type: none;
}

.main-popular-list li{
	margin: 0 10px;
	width: 217.7px;
	min-height: 318px;

	border: 1px solid #e5e5e5;
}

.main-popular-list-item:first-child{
	margin-left: 0;
}

.main-popular-list-item:last-child{
	margin-right: 0;
}

.main-popular-list-item h3{
	padding: 0 14px;

	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.main-popular-list-item span{
	font-size: 17px;
}

.item-price-and-discount{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	min-height: 84px;
}

.item-price-and-discount a{
	display: block;
	margin-bottom: 20px;
	width: 141px;

	font-size: 17px;
	line-height: 18px;
}

.main-popular-list-item:hover{
	box-shadow: 0px 5px 15px 10px rgba(34, 60, 80, 0.2);
}

.discount{
	margin-bottom: 13px;

	text-decoration: line-through;
	color: #a9a9a9;
}

.action-choice .buy{
	color: #fff;
	text-transform: uppercase;

	-webkit-box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.75);
	-moz-box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.75);
	box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.75);
	background-color:rgb(99, 166, 62);
	border-radius: 1px;
}

.action-choice .buy:hover,
.action-choice .buy:focus{
	background-color: rgb(95, 187, 45);
}

.action-choice .buy:active{
	background-color: rgb(81, 133, 52);
}

.action-choice .bookmark{
	color: #32425c;
	text-transform: uppercase;

	border: solid;
	border-color:rgb(99, 166, 62);
	border-radius: 1px;
}

.action-choice .bookmark:hover,
.action-choice .bookmark:focus{
	border-color: rgb(50, 66, 92);
}

.main-brands h2{
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.main-fabricators-list{
	margin-top: 20px;
	margin-bottom: 85px;
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	justify-content: space-between;
	padding: 0;
	
	list-style-type: none;
}

.main-fabricators-list li{
	width: 218px;
	height: 143px;
	margin-top: 20px;

	text-align: center;
	vertical-align: middle;
	line-height: 100%;

	border: 1px solid #e5e5e5;
}

.main-fabricators-list a{
	display: block;
	width: 100%;
	height: 100%;
}

.main-fabricators-list img:nth-child(1){
	/* margin: 46px 0; */
}
.main-fabricators-list img:nth-child(2){
}
.main-fabricators-list img:nth-child(3){
	
}
.main-fabricators-list img:nth-child(4){
	
}
.main-fabricators-list img:nth-child(5){
	
}
.main-fabricators-list img:nth-child(6){
	
}
.main-fabricators-list img:nth-child(7){
	
}
.main-fabricators-list img:nth-child(8){
	
}

.main-fabricators-list li:nth-child(1),
.main-fabricators-list li:nth-child(2),
.main-fabricators-list li:nth-child(3),
.main-fabricators-list li:nth-child(4){
	margin-top: 0;
}

.main-fabricators-list img{
	vertical-align: middle;
}

.main-fabricators-list li:hover,
.main-fabricators-list li:focus{
	-webkit-box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.41);
	-moz-box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.41);
	box-shadow: 0px 10px 10px -2px rgba(34, 60, 80, 0.41);
}

.main-fabricators-list li:active{
	opacity: 30%;
}

.main-services{
	background-color: #f4f8f9;
}

.main-services-wrap{
	width: 100%;

	background-color: #f4f8f9;
}

.main-services h2{
	padding-top: 68px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-services-description{
	width: 400px;

	font-size: 13px;
	line-height: 24px;
}

.main-services-list-suggestions{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 272px;

	font-size: 21px;
	line-height: 30px;

	list-style-type: none;
}

.main-services-block{
	display: flex;
}

.main-services-list-item button:hover{
	color: #fff;
	
	background-color: #293449;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	border-color:#405069 #FFF #293449;
}

/* .shadow-wrap{
	height: 220px;
	width: 280px;

	-webkit-box-shadow: -10px 0px 10px -12px rgba(34, 60, 80, 0.41) inset;
	-moz-box-shadow: -10px 0px 10px -12px rgba(34, 60, 80, 0.41) inset;
	box-shadow: -10px 0px 10px -12px rgba(34, 60, 80, 0.41) inset;
} */

.main-services-list-item button{
	min-height: 61px;
	width: 241px;

	color: #fff;
	font-size: inherit;
	font-family: inherit;
/* 
	
	-webkit-box-shadow: -10px 0px 10px -10px rgba(34, 60, 80, 0.41) inset;
	-moz-box-shadow: -10px 0px 10px -10px rgba(34, 60, 80, 0.41) inset;
	box-shadow: -10px 0px 10px -10px rgba(34, 60, 80, 0.41) inset; */
	background-color: #32425c;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	border-color:#405069 #FFF #293449;
}

.main-services-list-item-active button{
	color:#32425c;

	border: solid;
	border-width: 1px;
	border-color: #Fff;
	background-color: #fff;
}

.main-services-list-description{
	margin-left: 70px;
	padding: 0;

	list-style-type: none;	
}

.main-services-list-description li{
	width: 320px;
	padding: 0 10px;
}

.main-services-list-description h3{
	margin: 0;

	font-size: 36px;
	line-height: 36px;
	color:#32425c;
	text-transform: uppercase;
}

.main-services-list-description p{
	font-size: 13px;
	line-height: 24px;
}

.main-description-and-contacts-block{
	margin-top: 80px;
	margin-bottom: 85px;

	display: flex;
}

.main-description{
	width: 540px;
	margin-right: 80px;
}

.main-description h2,
.main-contacts h2{
	margin: 0;

	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.main-description p,
.main-contacts p{
	margin: 0;
	margin-top: 30px;

	font-size: 13px;
	line-height: 24px;
}

.main-description .part-2{
	width: 390px;
}

.main-description-list{
	margin: 0;
	margin-top: 30px;

	line-height: 20px;

	list-style-type: none;
}

.main-description-list li{
	padding: 7px 0;

	font-size: 18px;
}

.main-description-list li:first-child{
	padding-top: 0px;
}

.main-description-list li:last-child{
	padding-bottom: 0;
}

.main-description-button{
	margin-top: 35px;

	width: 220px;
}

.main-contacts h2{
	font-size: 30px;
	text-transform: uppercase;
}

.main-contacts p{
	width: 180px;
}

.main-contacts img{
	margin-top: 35px;
}

.main-contacts-button{
	margin-top: 33px;
}

.up{
	font-size: 18px;
	color: #fff;

	background-color: #32425c;
}

.up a{
	color: #fff;
}

.up ul{
	padding: 0;
	display: flex;
	align-items: flex-end;

	list-style-type: none;
}

.gold a{
	color: #ffd180;
}
/* 
.gold a:nth-child(1){
	color: #fff;
} */

.gold p{

}

.up a:hover,
.up a:focus{
	text-decoration: underline;
}

.up a:active{
	opacity: 50%;
	text-decoration: none;
}

.footer-bottom{
	color: #fff;

	background-color: #293449;
}

.footer-bottom a{
	color:#ffd180;
}

.footer-bottom a:hover,
.footer-bottom a:focus{
	text-decoration: underline;
}

.footer-bottom a:active{
	color: #ee3643;
	text-decoration: none;
}

.footer-services{
	list-style-type: none;
}

.footer-services li{
	width: 41px;
	height: 41px;

	text-align: center;

	border: solid;
	border-color: rgba(0, 0, 0, 0%);
	border-radius: 50%;
	background-color: #212a3a;
}

.footer-services li:hover,
.footer-services li:focus,
.footer-services li:active{
	background-color: #ee3643;
}

.write-us-form{
	width: 620px;

	border-top: solid;
	border-width: 7px;
	border-color: #ff5357;
	-webkit-box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 24px 30px 15px rgba(34, 60, 80, 0.2);
}

.close-button{
	border: none;
}

.write-us-list{
	font-size: 18px;
	line-height: 18px;

	list-style-type: none;
}

.write-us-list input{
	font-family: inherit;
	font-size: 13px;

	border: solid;
	border-radius: 2px;
	border-color: #dee3e4;
}

.write-us-button{
	background-color: #ee3643;
	border-color: rgba(0, 0, 0, 0%);
	border-radius: 3px;
}

.map-popup{
	-webkit-box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.2);

}

.site-navigation{
	text-transform: uppercase;
	font-size: 13px;

	list-style-type: none;
}

.main-catalog h2{
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;

	background-color: #f2f6f8;
}

.catalog-filter {
	text-transform: uppercase;
}

.catalog-filter p{
	font-size: 13px;

	background-color: #f7f3ec;
}

.filter-price div{
	background-color: #f7f3ec;
}

.grey{
	background-color: #f2f6f8;
}

.main-catalog fieldset{
	border: none;
}

.catalog-filter ul{
	font-size: 15px;

	list-style-type: none;
}

.catalog-filter button{
	font-family: inherit;
	text-transform: uppercase;

	border: solid;
	border-width: 1px;
	border-color: #e5e5e5;
	background-color: rgba(0, 0, 0, 0%);
	border-radius: 3px;
}

.catalog-filter button:hover,
.catalog-filter button:focus{
	border-color: #bdc6ca;
}

.catalog-filter button:active{
	border-color: #ee3643;
}

.main-catalog-sort h2{
	font-size: 13px;
	color: #000;
	
	background-color: #f7f3ec;
}

.main-catalog-sort{
	text-transform: uppercase;
	font-size: 13px;

	background-color: #f7f3ec;
}

.main-catalog-sort ul{
	list-style-type: none;
}

.main-catalog-sort-method-item a{
	text-decoration: underline;

	opacity: 30%;
}

.main-catalog-sort-method-item a:hover,
.main-catalog-sort-method-item a:focus{
	color: #000;
	text-decoration: underline;
	text-decoration-color: #ee3643;

	opacity: 100%;
}

.active a{
	color: #ee3643;
	opacity: 100%;
	text-decoration: none;
}

.main-pagination-list li{
	text-transform: uppercase;

	border: solid;
	border-width: 1px;
	border-color: #e5e5e5;
	background-color: rgba(0, 0, 0, 0%);
	border-radius: 3px;
}

.main-pagination-list li:hover{
	border-color: #bdc6ca;
}

.main-pagination-list .pagination-item-current{
	background-color: #ee3643;
	border: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}