body{
	padding: 0;
	margin: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;

	background-color: #f1f5f7;
}

a{
	text-decoration: none;
	color:black;
}

.header-top {
	color: white;
	background-color: #293449;
}

.header-top a{
	color: inherit;
}
  
.logo {
	padding: 12px;
	padding-left: 55px;
	padding-right: 55px;

	font-size: 24px;
	line-height: 47px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px -5px 0px 0px #b52933 inset;

	background-color: #ee3643;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
	box-shadow: 0px -5px 0px 0px #9a212a inset;
}

.logo:active {
	background-color: #ba2732;
	box-shadow: 0px -5px 0px 0px #8e1e26 inset;
}

.main-search{
	width: 270px;
	height: 47px;
}

.main-search img {
	opacity: 30%;
}

.main-search:hover img {
	opacity: 100%;
}

.main-search input {
	width: 270px;
	height: 42px;

	font-family: inherit;
	font-size: inherit;
	color: white;

	outline: none;
	border: none;
	background: 0px;
}

.main-search input::-webkit-input-placeholder {
	color: white;
}

#header-search:focus{
	font-size: 17px;
	color: black;

	background-color: white;
}

.main-search:hover{
	background-color: #212a3a;
}

.header-button{
	width: 150px;
	height: 42px;

	text-align: center;
	line-height: 18px;
}

.header-button:focus,
.header-button:hover{
	background-color: #212a3a;
}

.main-header-buy{
	background-color: rgb(99,166, 62);
}

.main-header h1{
	font-size: 16px;
	color: rgb(238, 54, 67);
	font-style: italic;
	text-align: left;
}

.main-header-contacts{
	list-style-type: none;
}

.main-suggestions-list .yellow{
    background-color: rgb(255, 191, 71);
}

.main-suggestions-list .blue{
    background-color: rgb(59, 188, 227);
}

.main-suggestions-list .pink{
    background-color: rgb(220, 145, 216);
}

.main-suggestions-list .green{
    background-color: rgb(142, 215, 143);
}

.main-suggestions-list .orange{
    background-color: rgb(255, 192, 71);
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}